body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.slides {
  position: relative;
  height: 150px;
  padding: 0px;
  margin: 0;
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  opacity: 0;
  z-index: 1;
  transition: opacity 0.25s;
}

.active {
  opacity: 1;
  z-index: 0;
}

.slide:nth-of-type(1) {
  background: red;
}

.slide:nth-of-type(2) {
  background-color: orange;
}

.slide:nth-of-type(3) {
  background-color: green;
}

.slide:nth-of-type(4) {
  background-color: blue;
}

.slide:nth-of-type(5) {
  background-color: purple;
}
.indicator,
.control {
  padding: 0.25em 0.5em;
  background-color: #dcc6c6;
  min-width: 70px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  border-radius: 7px;
  border: 2px solid #908686;
  font-size: 24px;
}
.indicator.active,
.indicator:active,
.control:active {
  background-color: tomato;
  color: white;
  border-color: darkred;
}
.indicators,
.controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.slides {
  margin-bottom: 20px;
}
